@media (max-width: 1200px) {
  /* body {
    background-color: blueviolet;
  } */
  /* NAVBAR */

  .nav-bar::before {
    display: none;
  }
  .nav-bar::before {
    content: "";
    display: block;
    height: 50px;
  }
  .avatar {
    width: 20%;
  }

  /* ABOUT */
  .about::before {
    display: none;
  }
  .about .target {
    width: 100%;
    text-align: start !important;
  }
  .about .personal-info {
    width: 100%;
  }
  /* INFO */
  .job-info .container .row {
    display: grid;
    grid-template-columns: auto auto;
  }
  /* CERTIFICATION */
  .certificate .container .row {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 25px;
  }
  .certificate .container .row .card .row {
    display: block;
  }
  .cer-border-x {
    top: 60%;
  }
  /* PROJECT */
  .project::before {
    content: "";
    display: block;
    height: 40px;
  }
  .project .row {
    display: block;
  }
  /* Utilities */
  /* width custom */
  .w-custom-100 {
    width: auto;
  }
  .h-custom-100 {
    height: auto;
  }
}
