@media (max-width: 576px) {
  /* body {
    background-color: greenyellow;
  } */

  /* BANNER */
  .dev-name {
    font-size: small;
  }
    .btn-language {
    font-size: small;
  }
  /* NAVBAR */
  .nav-bar .container-fluid {
    display: block !important;
  }
  .nav-bar .btn {
    margin-bottom: 5px;
  }
  .nav-bar::before {
    display: none;
  }
  .avatar-button {
    display: none;
  }

  /* ABOUT */
  .about::before {
    display: none;
  }
  .about .target {
    width: 100%;
    text-align: start !important;
  }
  .about .personal-info {
    width: 100%;
  }

  /* JOB INFO */
  .job-info .container .row {
    display: grid;
    grid-template-columns: auto;
    row-gap: 25px;
  }

  /* CERTIFICATION */

  .certificate .container .row {
    display: grid;
    grid-template-columns: auto;
    row-gap: 25px;
  }
  .cer-border-x {
    display: none;
  }
  .certificate .container .row .card {
    /* margin-top: 20px; */
    border-radius: 0px;
    border-right: none;
    border-bottom: 1px solid #d6c08d !important;
  }

  /* PROJECT */
  .project .row {
    display: block;
  }

  /* Utilities */
  /* width custom */
  .w-custom-100 {
    width: 100%;
  }
  .h-custom-100 {
    height: 100%;
  }
}
