p {
  margin: 0;
}

/* NAV-BAR */
.nav-bar::before {
  content: "";
  display: block;
  height: 80px;
}

/* ABOUT */
.about::before {
  content: "";
  display: block;
  height: 80px;
}

/* JOB-INFO */
.job-info .container .row .card {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05);
}

/* HOBBY */
.ic-rounded {
  background-color: aquamarine;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.small {
  font-size: x-small;
}

/* LANGUAGE */
.language .div-info span {
  width: 50px;
  height: 4px;
  border-radius: 4px;
  background-color: #199ce6;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}

/* SKILL */
.skill .div-info span {
  width: 50px;
  height: 4px;
  border-radius: 4px;
  background-color: #199ce6;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}

/* CERTIFICATION */
.cer-border-y {
  border-right: 1px solid #d6c08d;
}
.cer-border-x {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #d6c08d;
  position: absolute;
  top: 58%;
}
